---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/kubernetes/dashboard/{{ awx_server_dashboard_release.json.tag_name }}/aio/deploy/recommended.yaml
  - {{ dashboard_user_file }}.yml
patchesStrategicMerge:
  - {{ dashboard_patch_file }}.yml
...
